doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | Todo app
    //- 'Josefin Sans' Font Family
    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet")
    //- Style Sheet
    link(rel="stylesheet", href="main.css")

  body
    .container 
      header 
        h1.logo TODO
        img#switch-theme(src="images/icon-sun.svg", alt="Switch Theme", data-alt-src="images/icon-moon.svg")



    script(src="app.js")